<html>
    <meta charset="utf-8">
   <head>
      <title> Lista Clientes </title>

      
   </head>
   <body> 
      <h2>Cadastrar Cliente!</h2>
   
  <form method="post">
   <label for="name">Nome:</label>
    <input type="text" name="Nome">
    <label for="name">sobrenome:</label>
    <input type="text" name="sobrenome">
    <label for="name">Empresa:</label>
    <input type="text" name="empresa">
    <input type="submit">
  </form>

   </body> 
</html>